- projects_limit = 20 unless local_assigns[:projects_limit]
- avatar = true unless local_assigns[:avatar] == false
- use_creator_avatar = false unless local_assigns[:use_creator_avatar] == true
- stars = true unless local_assigns[:stars] == false
- forks = false unless local_assigns[:forks] == true
- ci = false unless local_assigns[:ci] == true
- skip_namespace = false unless local_assigns[:skip_namespace] == true
- show_last_commit_as_description = false unless local_assigns[:show_last_commit_as_description] == true

%ul.projects-list
  - if projects.any?
    - projects.each_with_index do |project, i|
      - css_class = (i >= projects_limit) ? 'hide' : nil
      = render "shared/projects/project", project: project, skip_namespace: skip_namespace,
        avatar: avatar, stars: stars, css_class: css_class, ci: ci, use_creator_avatar: use_creator_avatar,
        forks: forks, show_last_commit_as_description: show_last_commit_as_description

    - if projects.size > projects_limit && projects.kind_of?(Array)
      %li.bottom.center
        .light
          已显示 #{projects_limit} / #{pluralize(projects.count, '个项目', '个项目')}。
          = link_to '#', class: 'js-expand' do
            显示全部
    = paginate projects, theme: "gitlab" if projects.respond_to? :total_pages
  - else
    .nothing-here-block 没有项目

:javascript
  new ProjectsList();
  Dashboard.init();
