%li{class: "todo todo-#{todo.done? ? 'done' : 'pending'}", id: dom_id(todo) }
  .todo-item{class: 'todo-block'}
    = image_tag avatar_icon(todo.author_email, 40), class: 'avatar s40', alt:''

    .todo-title
      %span.author_name
        = link_to_author todo
      %span.todo_label
        = todo_action_name(todo)
        = todo_target_link(todo)

      &middot; #{time_ago_with_tooltip(todo.created_at)}

    - if todo.pending?
      .todo-actions.pull-right
        = link_to '完成', [:dashboard, todo], method: :delete, class: 'btn'

    .todo-body
      .todo-note
        .md
          = event_note(todo.body, project: todo.project)
