- unless defined?(project)
  - project = @project

- @commits.group_by { |c| c.committed_date.to_date }.sort.reverse.each do |day, commits|
  .row.commits-row
    .col-md-2.hidden-xs.hidden-sm
      %h5.commits-row-date
        %i.fa.fa-calendar
        %span= day.strftime('%Y-%m-%d')
      .light
        = pluralize(commits.count, '次提交', '次提交')
    .col-md-10.col-sm-12
      %ul.bordered-list
        = render commits, project: project
  %hr.lists-separator
