- if @search_results.empty?
  = render partial: "search/results/empty"
- else
  .gray-content-block
    在
    %code
      = @search_term
    - unless @show_snippets
      - if @project
        项目 #{link_to @project.name_with_namespace, [@project.namespace.becomes(Namespace), @project]}
      - elsif @group
        群组 #{link_to @group.name, @group}
    搜索结果

  .results.prepend-top-10
    .search-results
      - if @scope == 'projects'
        .term
          = render 'shared/projects/list', projects: @objects
      - else
        = render partial: "search/results/#{@scope.singularize}", collection: @objects
      = paginate @objects, theme: 'gitlab'

:javascript
  $(".search-results .term").highlight("#{escape_javascript(params[:search])}");
