%ul#notes-list.notes.main-notes-list.timeline
  = render "projects/notes/notes"
.js-notes-busy

.js-main-target-form
- if can? current_user, :create_note, @project
  = render "projects/notes/form", view: diff_view
- else
  .disabled-comment-area
    .disabled-profile
    .disabled-comment
      %span
        请
        = link_to "注册",new_user_session_path
        或
        = link_to "登录",new_user_session_path
        后发表评论

:javascript
  var notes = new Notes("#{namespace_project_notes_path(namespace_id: @project.namespace, target_id: @noteable.id, target_type: @noteable.class.name.underscore)}", #{@notes.map(&:id).to_json}, #{Time.now.to_i}, "#{diff_view}")
