- page_title "成员"
= render "header_title"

.project-members-page.prepend-top-default
  - if can?(current_user, :admin_project_member, @project)
    .panel.panel-default
      .panel-heading
        增加新成员到项目
        .controls
          = link_to import_namespace_project_project_members_path(@project.namespace, @project), class: "btn btn-grouped", title: "从其他项目导入成员" do
            导入成员
      .panel-body
        %p.light
          可以访问此项目的用户全部显示在下面。
        = render "new_project_member"

  = render "team", members: @project_members

  - if @group
    = render "group_members", members: @group_members
