- if show_last_push_widget?(event)
  .gray-content-block.clear-block.last-push-widget
    .event-last-push
      .event-last-push-text
        %span 你已推送到
        = link_to namespace_project_commits_path(event.project.namespace, event.project, event.ref_name) do
          %strong= event.ref_name
        %span 在
        %strong= link_to_project event.project
        #{time_ago_with_tooltip(event.created_at)}

      .pull-right
        = link_to new_mr_path_from_push_event(event), title: "新合并请求", class: "btn btn-info btn-sm" do
          创建合并请求
