- page_title "Git 访问", "维基"
= render "header_title"

= render 'nav'
.gray-content-block
  %span.oneline
    使用 Git 访问
    %strong= @project_wiki.path_with_namespace

  .pull-right
    = render "shared/clone_panel", project: @project_wiki

.git-empty.prepend-top-default
  %fieldset
    %legend 安装 Gollum:
    %pre.dark
      :preserve
        gem install gollum

    %legend 克隆维基版本库:
    %pre.dark
      :preserve
        git clone #{ content_tag(:span, default_url_to_repo(@project_wiki), class: 'clone')}
        cd #{h @project_wiki.path}

    %legend 运行 Gollum 并在本地编辑:
    %pre.dark
      :preserve
        gollum
        == Sinatra/1.3.5 has taken the stage on 4567 for development with backup from Thin
        >> Thin web server (v1.5.0 codename Knife)
        >> Maximum connections set to 1024
        >> Listening on 0.0.0.0:4567, CTRL+C to stop
