.issues-filters
  .issues-details-filters.gray-content-block.second-block
    = form_tag page_filter_path(without: [:assignee_id, :author_id, :milestone_title, :label_name]), method: :get, class: 'filter-form' do
      - if controller.controller_name == 'issues' && can?(current_user, :admin_issue, @project)
        .check-all-holder
          = check_box_tag "check_all_issues", nil, false,
            class: "check_all_issues left"
      .issues-other-filters
        .filter-item.inline
          = users_select_tag(:author_id, selected: params[:author_id],
            placeholder: '作者', class: 'trigger-submit', any_user: "任何作者", first_user: true, current_user: true)

        .filter-item.inline
          = users_select_tag(:assignee_id, selected: params[:assignee_id],
          placeholder: '指派', class: 'trigger-submit', any_user: "任何指派", null_user: true, first_user: true, current_user: true)

        .filter-item.inline.milestone-filter
          = select_tag('milestone_title', projects_milestones_options,
            class: 'select2 trigger-submit', include_blank: true,
            data: {placeholder: '里程碑'})

        .filter-item.inline.labels-filter
          = select_tag('label_name', projects_labels_options,
            class: 'select2 trigger-submit', include_blank: true,
            data: {placeholder: '标记'})

        .pull-right
          = render 'shared/sort_dropdown'

    - if controller.controller_name == 'issues'
      .issues_bulk_update.hide
        = form_tag bulk_update_namespace_project_issues_path(@project.namespace, @project), method: :post  do
          .filter-item.inline
            = select_tag('update[state_event]', options_for_select([['未关闭', 'reopen'], ['已关闭', 'close']]), include_blank: true, data: { placeholder: "状态" })
          .filter-item.inline
            = users_select_tag('update[assignee_id]', placeholder: '指派', null_user: true, first_user: true, current_user: true)
          .filter-item.inline
            = select_tag('update[milestone_id]', bulk_update_milestone_options, include_blank: true, data: { placeholder: "里程碑" })
          = hidden_field_tag 'update[issues_ids]', []
          = hidden_field_tag :state_event, params[:state_event]
          .filter-item.inline
            = button_tag "更新问题", class: "btn update_selected_issues btn-save"

- if @label
  .gray-content-block.second-block
    = render "shared/label_row", label: @label

:javascript
  new UsersSelect();
  $('form.filter-form').on('submit', function (event) {
    event.preventDefault();
    Turbolinks.visit(this.action + '&' + $(this).serialize());
  });
