%aside.right-sidebar{ class: sidebar_gutter_collapsed_class }
  .issuable-sidebar
    .block
      %span.issuable-count.hide-collapsed.pull-left
        = issuable.iid
        \/
        = issuables_count(issuable)
      %span.pull-right
        %a.gutter-toggle{href: '#'}
          = sidebar_gutter_toggle_icon
      .issuable-nav.hide-collapsed.pull-right.btn-group{role: 'group', "aria-label" => '...'}
        - if prev_issuable = prev_issuable_for(issuable)
          = link_to '上一个', [@project.namespace.becomes(Namespace), @project, prev_issuable], class: 'btn btn-default prev-btn'
        - else
          %a.btn.btn-default.disabled{href: '#'}
            上一个
        - if next_issuable = next_issuable_for(issuable)
          = link_to '下一个', [@project.namespace.becomes(Namespace), @project, next_issuable], class: 'btn btn-default next-btn'
        - else
          %a.btn.btn-default.disabled{href: '#'}
            下一个

    = form_for [@project.namespace.becomes(Namespace), @project, issuable], remote: true, html: {class: 'issuable-context-form inline-update js-issuable-update'} do |f|
      .block.assignee
        .sidebar-collapsed-icon
          - if issuable.assignee
            = link_to_member_avatar(issuable.assignee, size: 24)
          - else
            = icon('user')
        .title.hide-collapsed
          %label
            指派
          - if can?(current_user, :"admin_#{issuable.to_ability_name}", @project)
            .pull-right
              = link_to '编辑', '#', class: 'edit-link'
        .value.hide-collapsed
          - if issuable.assignee
            %strong= link_to_member(@project, issuable.assignee, size: 24)
            - if issuable.instance_of?(MergeRequest) && !issuable.can_be_merged_by?(issuable.assignee)
              %a.pull-right.cannot-be-merged{href: '#', data: {toggle: 'tooltip'}, title: '不允许合并'}
                = icon('exclamation-triangle')
          - else
            .light 无

        .selectbox.hide-collapsed
          = users_select_tag("#{issuable.class.table_name.singularize}[assignee_id]", placeholder: '选择指派', class: 'custom-form-control js-select2 js-assignee', selected: issuable.assignee_id, project: @target_project, null_user: true, current_user: true, first_user: true)

      .block.milestone
        .sidebar-collapsed-icon
          = icon('clock-o')
          %span
            - if issuable.milestone
              = issuable.milestone.title
            - else
              否
        .title.hide-collapsed
          %label
            里程碑
          - if can?(current_user, :"admin_#{issuable.to_ability_name}", @project)
            .pull-right
              = link_to '编辑', '#', class: 'edit-link'
        .value.hide-collapsed
          - if issuable.milestone
            %span.back-to-milestone
              = link_to namespace_project_milestone_path(@project.namespace, @project, issuable.milestone) do
                %strong
                  = icon('clock-o')
                  = issuable.milestone.title
          - else
            .light 无
        .selectbox.hide-collapsed
          = f.select(:milestone_id, milestone_options(issuable), { include_blank: true }, { class: 'select2 select2-compact js-select2 js-milestone', data: { placeholder: '选择里程碑' }})
          = hidden_field_tag :issuable_context
          = f.submit class: 'btn hide'

      - if issuable.project.labels.any?
        .block.labels
          .sidebar-collapsed-icon
            = icon('tags')
            %span
              = issuable.labels.count
          .title.hide-collapsed
            %label 标记
            - if can?(current_user, :"admin_#{issuable.to_ability_name}", @project)
              .pull-right
                = link_to '编辑', '#', class: 'edit-link'
          .value.issuable-show-labels.hide-collapsed
            - if issuable.labels.any?
              - issuable.labels.each do |label|
                = link_to_label(label, type: issuable.to_ability_name)
            - else
              .light 无
          .selectbox.hide-collapsed
            = f.collection_select :label_ids, issuable.project.labels.all, :id, :name,
              { selected: issuable.label_ids }, multiple: true, class: 'select2 js-select2', data: { placeholder: "选择标记" }

      = render "shared/issuable/participants", participants: issuable.participants(current_user)
      %hr
      - if current_user
        - subscribed = issuable.subscribed?(current_user)
        .block.light
          .sidebar-collapsed-icon
            = icon('rss')
          .title.hide-collapsed
            %label.light 通知
          - subscribtion_status = subscribed ? 'subscribed' : 'unsubscribed'
          %button.btn.btn-block.btn-gray.subscribe-button.hide-collapsed{:type => 'button'}
            %span= subscribed ? '取消订阅' : '订阅'
          .subscription-status.hide-collapsed{data: {status: subscribtion_status}}
            .unsubscribed{class: ( 'hidden' if subscribed )}
              你将不会再收到此主题的通知。
            .subscribed{class: ( 'hidden' unless subscribed )}
              因为你订阅了本主题，将会收到相关通知。

      - project_ref = cross_project_reference(@project, issuable)
      .block.project-reference
        .sidebar-collapsed-icon
          = clipboard_button(clipboard_text: project_ref)
        .cross-project-reference.hide-collapsed
          %span
            参考：
            %cite{title: project_ref}
              = project_ref
          = clipboard_button(clipboard_text: project_ref)

    :javascript
      new Subscription("#{toggle_subscription_path(issuable)}");
      new IssuableContext();
