- if @merge_request_diff.collected?
  = render "projects/diffs/diffs", diffs: params[:w] == '1' ? @merge_request.diffs_no_whitespace : @merge_request.diffs,
    project: @merge_request.project, diff_refs: @merge_request.diff_refs
- elsif @merge_request_diff.empty?
  .nothing-here-block 从 #{@merge_request.source_branch} 到 #{@merge_request.target_branch} 无需合并
- else
  .alert.alert-warning
    %h4
      此比较的变更视图非常巨大。
    %p
      可以
      = link_to "下载差异", merge_request_path(@merge_request, format: :diff), class: "vlink"
      到本地查看。
