.detail-page-description.content-block
  %h2.title
    = markdown escape_once(@merge_request.title), pipeline: :single_line

  %div
    - if @merge_request.description.present?
      .description{class: can?(current_user, :update_merge_request, @merge_request) ? 'js-task-list-container' : ''}
        .wiki
          = preserve do
            = markdown(@merge_request.description, cache_key: [@merge_request, "description"])
        %textarea.hidden.js-task-list-field
          = @merge_request.description

  - if @merge_request.updated_at != @merge_request.created_at
    %small
      编辑时间：
      = time_ago_with_tooltip(@merge_request.updated_at, placement: 'bottom')
