- page_title "审查", @blob.path, @ref
- header_title project_title(@project, "文件", project_files_path(@project))

%h3.page-title 审查视图

#tree-holder.tree-holder
  .file-holder
    .file-title
      = blob_icon @blob.mode, @blob.name
      %strong
        = @path
      %small= number_to_human_size @blob.size
      .file-actions
        = render "projects/blob/actions"
    .file-content.blame.code.js-syntax-highlight
      %table
        - current_line = 1
        - @blame_groups.each do |blame_group|
          %tr
            %td.blame-commit
              .commit
                - commit = blame_group[:commit]
                .commit-row-title
                  %strong
                    = link_to_gfm truncate(commit.title, length: 35), namespace_project_commit_path(@project.namespace, @project, commit.id), class: "cdark"
                  .pull-right
                    = link_to commit.short_id, namespace_project_commit_path(@project.namespace, @project, commit), class: "monospace"
                  &nbsp;
                .light
                  = commit_author_link(commit, avatar: false)
                  authored
                  #{time_ago_with_tooltip(commit.committed_date, skip_js: true)}
            %td.line-numbers
              - line_count = blame_group[:lines].count
              - (current_line...(current_line + line_count)).each do |i|
                %a.diff-line-num= i
                \
              - current_line += line_count
            %td.lines
              %pre.code.highlight
                %code
                  - blame_group[:lines].each do |line|
                    #{line}
