= form_for [@project.namespace.becomes(Namespace), @project, @label], html: { class: 'form-horizontal label-form js-requires-input' } do |f|
  -if @label.errors.any?
    .row
      .col-sm-offset-2.col-sm-10
        .alert.alert-danger
          - @label.errors.full_messages.each do |msg|
            %span= msg
            %br

  .form-group
    = f.label :title, "标题", class: 'control-label'
    .col-sm-10
      = f.text_field :title, class: "form-control js-quick-submit", required: true, autofocus: true
  .form-group
    = f.label :description, "描述", class: 'control-label'
    .col-sm-10
      = f.text_field :description, class: "form-control js-quick-submit"
  .form-group
    = f.label :color, "背景色", class: 'control-label'
    .col-sm-10
      .input-group
        .input-group-addon.label-color-preview &nbsp;
        = f.color_field :color, class: "form-control"
      .help-block
        选择任意颜色。
        %br
        或者在下面选择一个推荐的颜色

      .suggest-colors
        - suggested_colors.each do |color|
          = link_to '#', style: "background-color: #{color}", data: { color: color } do
            &nbsp;

  .form-actions
    - if @label.persisted?
      = f.submit '保存修改', class: 'btn btn-save js-save-button'
    - else
      = f.submit '创建标记', class: 'btn btn-create js-save-button'
    = link_to "取消", namespace_project_labels_path(@project.namespace, @project), class: 'btn btn-cancel'
