.pull-right
  %div
    - if @notes_count > 0
      %span.btn.disabled.btn-grouped
        %i.fa.fa-comment
        = @notes_count
    .pull-left.btn-group
      %a.btn.btn-grouped.dropdown-toggle{ data: {toggle: :dropdown} }
        %i.fa.fa-download
        下载为
        %span.caret
      %ul.dropdown-menu
        - unless @commit.parents.length > 1
          %li= link_to "电子邮件补丁", namespace_project_commit_path(@project.namespace, @project, @commit, format: :patch)
        %li= link_to "差异文件",    namespace_project_commit_path(@project.namespace, @project, @commit, format: :diff)
    = link_to namespace_project_tree_path(@project.namespace, @project, @commit), class: "btn btn-grouped" do
      = icon('files-o')
      浏览文件
    - unless @commit.has_been_reverted?(current_user)
      = revert_commit_link(@commit, namespace_project_commit_path(@project.namespace, @project, @commit.id))
  %div

%p
  %span.light 提交
  = link_to @commit.id, namespace_project_commit_path(@project.namespace, @project, @commit), class: "monospace"
  = clipboard_button(clipboard_text: @commit.id)
.commit-info-row
  %span.light 作者
  %strong
    = commit_author_link(@commit, avatar: true, size: 24)
  #{time_ago_with_tooltip(@commit.authored_date)}

- if @commit.different_committer?
  .commit-info-row
    %span.light 提交者
    %strong
      = commit_committer_link(@commit, avatar: true, size: 24)
    #{time_ago_with_tooltip(@commit.committed_date)}

.commit-info-row
  %span.cgray= pluralize(@commit.parents.count, "个父辈", "个父辈")
  - @commit.parents.each do |parent|
    = link_to parent.short_id, namespace_project_commit_path(@project.namespace, @project, parent), class: "monospace"

- if @ci_commit
  .pull-right
    = link_to ci_status_path(@ci_commit), class: "ci-status ci-#{@ci_commit.status}" do
      = ci_status_icon(@ci_commit)
      构建：
      = ci_status_label(@ci_commit)

.commit-info-row.branches
  %i.fa.fa-spinner.fa-spin

.commit-box.content-block
  %h3.commit-title
    = markdown escape_once(@commit.title), pipeline: :single_line
  - if @commit.description.present?
    %pre.commit-description
      = preserve(markdown(escape_once(@commit.description), pipeline: :single_line))

:javascript
  $(".commit-info-row.branches").load("#{branches_namespace_project_commit_path(@project.namespace, @project, @commit.id)}");
