#{@message.author_name} #{@message.action_name} #{@message.ref_type} #{@message.ref_name} 在 #{@message.project_name_with_namespace}
- if @message.compare
  \
  \
  - if @message.reverse_compare?
    警告：此推送不包含任何提交，但强制推送会删除下面的提交和变更。
    \
    \
  = @message.reverse_compare? ? "删除的提交：" : "提交："
  - @message.commits.each do |commit|
    #{commit.short_id} by #{commit.author_name} 在 #{commit.committed_date.to_s(:iso8601)}
    #{commit.safe_message}
    \- - - - -
  \
  \
  #{pluralize @message.diffs_count, "个修改的文件", "个修改的文件"}:
  \
  - @message.diffs.each do |diff|
    - if diff.deleted_file
      \- − #{diff.old_path}
    - elsif diff.renamed_file
      \- #{diff.old_path} → #{diff.new_path}
    - elsif diff.new_file
      \- + #{diff.new_path}
    - else
      \- #{diff.new_path}
  - unless @message.disable_diffs?
    \
    \
    变更：
    - @message.diffs.each do |diff|
      \
      \=====================================
      - if diff.deleted_file
        #{diff.old_path} 已删除
      - elsif diff.renamed_file
        #{diff.old_path} → #{diff.new_path}
      - else
        = diff.new_path
      \=====================================
      != diff.diff
  - if @message.compare_timeout
    \
    \
    巨大差异。因为性能原因隐藏问题变更
  - if @message.target_url
    \
    \
    在 GitLab 上查看: #{@message.target_url}
