- page_title "问题"
= render "header_title"

= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, namespace_project_issues_url(@project.namespace, @project, :atom, private_token: current_user.private_token), title: "#{@project.name} 问题")

.top-area
  = render 'shared/issuable/nav', type: :issues
  .nav-controls
    - if current_user
      = link_to namespace_project_issues_path(@project.namespace, @project, :atom, { private_token: current_user.private_token }), class: 'btn append-right-10' do
        = icon('rss')
      = render 'shared/issuable/search_form', path: namespace_project_issues_path(@project.namespace, @project)
    - if can? current_user, :create_issue, @project
      = link_to new_namespace_project_issue_path(@project.namespace, @project, issue: { assignee_id: @issuable_finder.assignee.try(:id), milestone_id: @issuable_finder.milestones.try(:first).try(:id) }), class: "btn btn-new", title: "新问题", id: "new_issue_link" do
        = icon('plus')
        新问题

= render 'shared/issuable/filter', type: :issues

.issues-holder
  = render "issues"
