- page_title '附件', "#{@build.name} (##{@build.id})", '构建'
= render 'projects/builds/header_title'

.top-block.gray-content-block.clearfix
  .pull-right
    = link_to download_namespace_project_build_artifacts_path(@project.namespace, @project, @build),
      class: 'btn btn-default download' do
      = icon('download')
      下载附件打包

.tree-holder
  %div.tree-content-holder
    %table.table.tree-table
      %thead
        %tr
          %th 名称
          %th 大小
      = render partial: 'tree_directory', collection: @entry.directories(parent: true), as: :directory
      = render partial: 'tree_file', collection: @entry.files, as: :file

- if @entry.empty?
  .center 空
