- page_title @milestone.title, "里程碑"
- header_title "里程碑", dashboard_milestones_path

.detail-page-header
  .status-box{ class: "status-box-#{@milestone.closed? ? 'closed' : 'open'}" }
    - if @milestone.closed?
      已关闭
    - else
      未关闭
  %span.identifier
    里程碑 #{@milestone.title}

.detail-page-description.gray-content-block.second-block
  %h2.title
    = markdown escape_once(@milestone.title), pipeline: :single_line

- if @milestone.complete? && @milestone.active?
  .alert.alert-success.prepend-top-default
    %span 该里程碑的所有问题都已关闭。可以关闭此里程碑。

.table-holder
  %table.table
    %thead
      %tr
        %th 项目
        %th 未关闭问题
        %th 状态
        %th 到期日
    - @milestone.milestones.each do |milestone|
      %tr
        %td
          = link_to "#{milestone.project.name_with_namespace}", namespace_project_milestone_path(milestone.project.namespace, milestone.project, milestone)
        %td
          = milestone.issues.opened.count
        %td
          - if milestone.closed?
            已关闭
          - else
            未关闭
        %td
          = milestone.expires_at

.context
  %p.lead
    进度：
    #{@milestone.closed_items_count} 已关闭
    &ndash;
    #{@milestone.open_items_count} 未关闭
  = milestone_progress_bar(@milestone)

%ul.nav-links.no-top.no-bottom
  %li.active
    = link_to '#tab-issues', 'data-toggle' => 'tab' do
      问题
      %span.badge= @milestone.issue_count
  %li
    = link_to '#tab-merge-requests', 'data-toggle' => 'tab' do
      合并请求
      %span.badge= @milestone.merge_requests_count
  %li
    = link_to '#tab-participants', 'data-toggle' => 'tab' do
      参与者
      %span.badge= @milestone.participants.count

.tab-content
  .tab-pane.active#tab-issues
    .gray-content-block.middle-block
      .pull-right
        = link_to '浏览问题', issues_dashboard_path(milestone_title: @milestone.title), class: "btn btn-grouped"

      .oneline
        此里程碑的所有问题

    .row.prepend-top-default
      .col-md-6
        = render 'issues', title: "未关闭", issues: @milestone.opened_issues
      .col-md-6
        = render 'issues', title: "已关闭", issues: @milestone.closed_issues

  .tab-pane#tab-merge-requests
    .gray-content-block.middle-block
      .pull-right
        = link_to '浏览合并请求', merge_requests_dashboard_path(milestone_title: @milestone.title), class: "btn btn-grouped"

      .oneline
        此里程碑的所有合并请求

    .row.prepend-top-default
      .col-md-6
        = render 'merge_requests', title: "未关闭", merge_requests: @milestone.opened_merge_requests
      .col-md-6
        = render 'merge_requests', title: "已关闭", merge_requests: @milestone.closed_merge_requests

  .tab-pane#tab-participants
    .gray-content-block.middle-block
      .oneline
        此里程碑的所有参与者
    %ul.bordered-list
      - @milestone.participants.each do |user|
        %li
          = link_to user, title: user.name, class: "darken" do
            = image_tag avatar_icon(user, 32), class: "avatar s32"
            %strong= truncate(user.name, lenght: 40)
            %br
            %small.cgray= user.username
