- commit = @repository.commit(branch.target)
- bar_graph_width_factor = @max_commits > 0 ? 100.0/@max_commits : 0
- diverging_commit_counts = @repository.diverging_commit_counts(branch)
- number_commits_behind = diverging_commit_counts[:behind]
- number_commits_ahead = diverging_commit_counts[:ahead]
%li(class="js-branch-#{branch.name}")
  %div
    = link_to namespace_project_tree_path(@project.namespace, @project, branch.name) do
      %span.item-title.str-truncated= branch.name
    &nbsp;
    - if branch.name == @repository.root_ref
      %span.label.label-primary 默认
    - elsif @repository.merged_to_root_ref? branch.name
      %span.label.label-info.has_tooltip(title="合并到 #{@repository.root_ref}")
        已合并的

    - if @project.protected_branch? branch.name
      %span.label.label-success
        %i.fa.fa-lock
        保护的
    .controls.hidden-xs
      - if create_mr_button?(@repository.root_ref, branch.name)
        = link_to create_mr_path(@repository.root_ref, branch.name), class: 'btn btn-grouped btn-xs' do
          = icon('plus')
          合并请求

      - if branch.name != @repository.root_ref
        = link_to namespace_project_compare_index_path(@project.namespace, @project, from: @repository.root_ref, to: branch.name), class: 'btn btn-grouped btn-xs', method: :post, title: "比较" do
          = icon("exchange")
          比较

      - if can_remove_branch?(@project, branch.name)
        = link_to namespace_project_branch_path(@project.namespace, @project, branch.name), class: 'btn btn-grouped btn-xs btn-remove remove-row has_tooltip', title: "删除分支", method: :delete, data: { confirm: "删除 '#{branch.name}' 分支无法恢复。确定要继续么？", container: 'body' }, remote: true do
          = icon("trash-o")

    - if branch.name != @repository.root_ref
      .divergence-graph{ title: "比 #{@repository.root_ref} 超前 #{number_commits_ahead} 次提交，落后 #{number_commits_behind} 次提交" }
        .graph-side
          .bar.bar-behind{ style: "width: #{number_commits_behind * bar_graph_width_factor}%" }
          %span.count.count-behind= number_commits_behind
        .graph-separator
        .graph-side
          .bar.bar-ahead{ style: "width: #{number_commits_ahead * bar_graph_width_factor}%" }
          %span.count.count-ahead= number_commits_ahead


  - if commit
    = render 'projects/branches/commit', commit: commit, project: @project
  - else
    %p
      无法在本分支找到 HEAD 提交
